* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

body > header {
    background-color: aquamarine;
    padding: 16px 0;
    color: aliceblue;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 16px;
}
header li {
    display: inline;
    font-weight: bold;
    margin-left: 16px;
}

header li a {
    color: chocolate;
    text-decoration: none;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 16px;
}

.articles article {
    flex-basis: calc(33.33% - 16px);
    margin-bottom: 16px;
    padding: 16px;
    background-color: #fff;
}

.articles article img {
    width: 100%;
    object-fit: cover;
    height: 180px;
}

.articles article h3 {
    font-size: 24px;
    margin-bottom: 8px;
}

.articles article p {
    margin-bottom: 16px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
}

.articles article a:hover {
    text-decoration: underline;
}

section {
    padding: 16px 0;
    max-width: 960px;
    margin: 0 auto;
}

section h2 {
    font-size: 32px;
    margin-bottom: 16px;
}

#sports {
    background-color: rgba(0, 255, 0, 0.1);
}

#sports .articles article a {
    background-color: rgba(0, 255, 0, 0.8);
    color: #000;
}

#economy {
    background-color: yellow;
}

#economy .articles article a {
    background-color: blue;
}

#entertainment {
    background-color: lavender;
}

#entertainment .articles article a {
    background-color: mediumpurple;
    color: #fff;
}

#technology {
    background-color: lightblue;
}

#technology .articles article a {
    background-color: steelblue;
    color: #fff;
}
